.fontstaysigned
{
    font-family:'Inter';
    font-size:12px;
    font-weight: 700;
    font-style:normal;
    color:rgb(0, 0, 0);
    line-height:normal;
}
.fonttitle
{
    font-family:'Inter';
    font-size: 43px;
    font-weight: 700;
    font-style:normal;
    line-height:normal;
    Color:black;
}
.fontmisc
{
    font: 13px "Khand", Regular;
    font-weight: 700;
    font-style:normal;
    Color:black;
    line-height:normal;
}
.fontboxes
{
    font-family:'Khand';
    font-weight: 700;
    font-style:normal;
}
.bttn
{
    width:100px;
    height: 90px;
    background: none;
    margin-top:30px;
    margin-bottom:0px;
    border-color:rgba(170, 170, 170, 0.1);
    border-radius: 30px;
}
.icon
{
    width:auto;
    height: auto;
    background: none;
    border:none;
    margin-bottom:0px;
}
.titledesign
{
    margin-top: 70px;
    margin-bottom:10px;  
}
.boxdesign
{
    width:400px;
    height:40px;
    border-radius: 10px;
    border-width:0;
    margin-bottom:10px;
    background-color: rgba(212, 212, 212, 1);
}
.staysigned-design
{
    margin-top:10px;
    margin-right:293px;
}
.checkboxdesign
{
    background-color:rgba(212, 212, 212, 1);
}
.cantsigndesign
{
    margin-bottom:0px;
    margin-top:90px;
    color:black;
    text-decoration:none;
}
.returndesign
{
    margin-top:0px;
    margin-bottom: 40px;
    color:black;
    text-decoration:none;
}
.container1
{
    display:grid;
    grid-template-columns:30% 40% 30%;
    row-gap: 2px;
    justify-items: center;
    align-items: center;
}
.container2
{
    display:grid;
    grid-template-rows:repeat(8 50px);
    row-gap:1px;
    justify-items: center;
}
body
{
    background-image: 
       url('Resources/New_map.jpg');
    background-repeat:no-repeat;
    background-size:cover;  
    background-position: center;
}
.pos-signupbox
{

    grid-column: 2;
    margin-top: 90px;
}
.signupbox
{
    width:465px;
    height:625px;
    background-color: rgba(255, 255, 255, 0.25)
}
.pos-title
{
    grid-row:1;
}
.pos-usernamebox
{
    grid-row:2;
}
.pos-passwordbox
{
    grid-row:3;
}
.pos-staysigned
{
    grid-row: 5;
}
.pos-signbutton
{
    grid-row:6;
}
.pos-cantsign
{
    grid-row:7;
}
.pos-return
{
    grid-row:8;
}
.pos-repeatpassword
{
    grid-row:4;
}